.Titulo{
color: rgb(155, 23, 155);
}
.Cabaçalho{
color: rgb(52, 49, 241);
}
.Letra1 {
  color: red;
}
.Letra2 {
  color: orange;
}
.Letra3 {
  color: yellow;
}
.Letra4 {
  color: green;
}
.Letra5 {
  color: blue;
}
.Letra6 {
  color: indigo;
}
.Letra7 {
  color: violet;
}
.Imagem{
left: auto;
width: 10;
height:10;

}