.contornado{
    font-family:sans-serif;
    text-align: center;
    font-size: 70px;
    color: rgb(233, 233, 233); 
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.637); 
}

.cenário{
    background-color:rgb(236, 213, 3);    
}
h1{
    text-align: left;
    font-family:Helvetica;
    color: black;
}
h3{
    text-align: left;
    font-family:Helvetica;
    color: black;
}
.wopaa{
    text-align:left;
    width: 410px;
 border:solid 2px black;

}
.Poli{
    text-align:right;
    width: 490px;
 border:solid 2px black;

}
img{
 width:250px;
  border:solid 2px #000000;
}
p{
  text-align: left;
}
nav {
  text-align: center;
  margin: 15px 0;   
}

nav a {
  color: #000000;
  text-decoration: none;
  margin: 0 8px;
  padding: 6px 12px;
  border-radius: 5px;
  transition: 0.3s;
}

nav a:hover {
  background-color: #ffa600;
  color: #ffffff;
}
h2{
 text-align: center;


}
.game{
text-align: center;
border: solid black 2px;


}